:root {
  --font-family-default: "Raleway";
  --font-size-default: 24px;
  --font-weight-default: 500;
  --font-weight-bold: 700;
  --color-grey: #4f4f4f;
  --color-yellow: #f7df94;
  --color-light-grey: #b9bdcf;
  --color-white: #ffffff;
}

.page {
  width: 100vw;
}

.top-buttons {
  margin: 5vh 10vw 15vh 10vw;
  display: flex;
  justify-content: space-between;
}

.top-button {
  font-family: var(--font-family-default);
  font-weight: var(--font-weight-default);
  font-size: var(--font-size-default);
  text-decoration: none;
  border: none;
  padding: 0px;
  color: var(--color-grey);
  background-color: var(--color-white);
  box-shadow: 0 4px 2px -2px var(--color-grey);
  cursor: pointer;
}

.top-icon {
  vertical-align: middle;
  font-size: 20px;
}

.grid-container {
  max-width: 35vw;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10vh;
}

.loader {
  width: 100%;
  display: none;
  justify-content: center;
  font-size: var(--font-size-default);
  font-weight: var(--font-weight-default);
  color: var(--color-grey);
}

.quote {
  font-family: var(--font-family-default);
  font-weight: var(--font-weight-default);
  font-size: 36px;
  flex-basis: 100%;
  padding-left: 5vw;
  border-left: solid 0.5vw var(--color-yellow);
}

.quote-author-container {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  margin-left: 5.5vw;
}

.quote-author {
  font-family: var(--font-family-default);
  font-weight: var(--font-weight-default);
  font-size: var(--font-size-default);
  color: var(--color-grey);
  margin-top: 0px;
  margin-bottom: 8px;
  flex-basis: 100%;
}

.quote-genre {
  font-family: var(--font-family-default);
  font-weight: var(--font-weight-default);
  font-size: 14px;
  color: #828282;
  margin: 0px;
}

.top-10-caption {
  margin: 5px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  font-size: 14px;
  font-weight: var(--font-weight-default);
  text-align: center;
  color: var(--color-light-grey);
}

.link {
  font-weight: var(--font-weight-bold);
  color: var(--color-light-grey);
}

@media (max-width: 1240px) {
  .grid-container {
    gap: 5vh;
  }

  .quote {
    font-size: 30px;
  }

  .quote-author {
    font-size: 20px;
    margin-bottom: 5px;
  }
}

@media (max-width: 905px) {
  .quote {
    font-size: var(--font-size-default);
  }

  .quote-author {
    font-size: 16px;
  }
}

@media (max-width: 600px) {
  .grid-container {
    max-width: 50vw;
  }
}

@media (max-width: 400px) {
  .top-buttons {
    margin-top: 2vh;
  }

  .top-10-caption {
    font-size: 18px;
  }

  .all-authors-item {
    font-size: 14px;
  }
}

@media (max-width: 350px) {
  .top-10-caption {
    font-size: 14px;
  }

  .all-authors-item {
    font-size: 12px;
  }
}
